<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Processing Sketch</title>
    <link rel="stylesheet" href="{{url_for('static' , filename= 'css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
</head>
<body>
    <script>
        let mapped;
        let particles;
        let dim= '{{dim}}';
        let ang= '{{ang}}'
        let live= '{{live}}'
        let key= '{{key}}'

        function preload(){
        let url= "{{url_for('static', filename='colors.json')}}";
        particles= loadJSON(url);

        }

        function setup() {
        createCanvas(800, 800);
        dim = width / 2;
        background(0);
        noStroke();
        ellipseMode(RADIUS);
        }

        function draw() {
        background(0);
        for (let x = 0; x <= width; x += dim) {
            filter(BLUR, 2);
            drawGradient(x / (dim+60), height);
            }
        }

        function drawGradient(x, y) {
        let radius = dim * 2;
        let a = 0;
        let h = 0;
        let len = Object.keys(particles).length;
        let angle = radians(dim*live*key + a);
        for (let r = radius; r > 0; --r) {
            rotate(radians(angle));
            let id = particles[h];
            fill(id[0], id[1], id[2]);
            ellipse(x * width, y, r + 30, r);
            a += ang;
            h++;
            if (h >= len) {
                h = 0;
            }
        }
        }


    </script>
</body>
</html>